:root {
  --mobile-width: 320px;
  --mobile-width-only: 767px;
  --tablet-width: 768px;
  --desktop-width: 1280px;

  --font-family: "Open Sans", "Arial", sans-serif;

  --color-text-main: #343434;
  --color-text-white: #ffffff;
  --color-tip-text-grey: #3E3E3E;
  --color-button-background-yellow: #FED74B;
  --color-checkmark-yellow: #FECF01;
  --color-timemark-background-blue: #D9E8FF;
  --color-timemark-background-hover: #6BA6FF;
  --color-text-grey: #9E9E9E;
  --color-border-grey: #828282;
}
